:root {
  --primary-bg: #ffffff;
  --primary-text: #030c01;

  /* button */
  --button-bg: #42ed13;
  --button-hover-bg: #e8e81c;

  /* додано для style.css */
  --primary-button-bg: #42ed13;
  --primary-button-border-color: #e8e81c;
  --regular: 16px;
}
